/* index.css ya App.css me */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import "tailwindcss";

/* Hero image style */
/* .hero img {
  height: 80vh;
} */

/* Sab text ke liye global font */
body {
  font-family: 'Poppins', sans-serif;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  display: flex;
  width: max-content;
  animation: marquee 30s linear infinite;
}


/* Thin, pretty, minimal scrollbar */
::-webkit-scrollbar {
  width: 6px;            /* thin scrollbar width */
  height: 6px;           /* thin horizontal scrollbar */
}

::-webkit-scrollbar-track {
  background: transparent;   /* invisible track */
}

::-webkit-scrollbar-thumb {
  background-color: rgba(100, 100, 100, 0.3); /* soft gray with transparency */
  border-radius: 9999px;                       /* full round */
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(100, 100, 100, 0.5); /* slightly darker on hover */
}

/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: rgba(100, 100, 100, 0.3) transparent;
}

div.sidebaar {
  background-color: #235177; /* Change to a darker blue on hover */
}

div.arrow {
  background-color: #022E41; /* Change to a darker gray on hover */
  /* h61ce70 */
}

